body{

    background-color: beige;
    
}



h1{
    
    color: burlywood;
}


h1{

 font-family: Georgia, serif;
 text-align: center;
}


h2{

    font-family: Georgia, serif;
    text-align: center;
     
}


 li {

text-align: center;

}












.image2 {
    margin-left: 1000px

}

.image2 {

    border-radius: 20%;

}

.image1 {
    margin-left: 500px
    
}

.image1{

    border-radius: 30%;

}

.titre-millieu {

text-align: center;


}

.titre-millieu2 {

text-align:center;

}

    